@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  /* text-align: center; */
  color: var(--white);
  font-family: "Martel Sans", sans-serif;
  font-size: 86%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bright-red: #e50914;
  --dark-red: #b81d24;
  --black: #000;
  --white: #f5f5f1;
  --vote-good: #06d6a0;
  --vote-bad: #f9c74f;
  --vote-ugly: #f94144;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  /* background-color: var(--black); */
  perspective: 400px;
  transition: all 1s cubic-bezier(0.19, 1.34, 0.87, 0.99);
  opacity: 1;
}

.loaderBack {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--black);
  z-index: 5;
  transition: all 1s cubic-bezier(0.19, 1.34, 0.87, 0.99);
  opacity: 1;
}

.loader.hidden {
  opacity: 0;
  z-index: -1;
}

.loaderBack.hidden {
  opacity: 0;
  z-index: -1;
}

.logo {
  padding: 0 5px;
  font-size: 10em;
  font-weight: 900;
  color: var(--bright-red);
}

#logo1 {
  transform: rotateY(90deg) scale(1.5);
  margin-right: 20px;
}

#logo2 {
  transform: rotateY(67.5deg) scale(1.375);
  margin-right: 5px;
}

#logo3 {
  transform: rotateY(45deg) scale(1.25);
}

#logo4 {
  transform: rotateY(22.5deg) scale(1.125);
}

#logo5 {
  transform: rotateY(0deg) scale(1);
}

#logo6 {
  transform: rotateY(-22.5deg) scale(1.125);
}

#logo7 {
  transform: rotateY(-45deg) scale(1.25);
}

#logo8 {
  transform: rotateY(-67.5deg) scale(1.375);
  margin-left: 5px;
}

#logo9 {
  transform: rotateY(-90deg) scale(1.5);
  margin-left: 20px;
}

header {
  display: flex;
  position: sticky;
  z-index: 1;
  align-items: center;
  top: 0;
  width: 100%;
  height: 5vh;
  background-color: var(--bright-red);
  /* margin-bottom: 5vh; */
  /* box-shadow: 0 10px 6px -6px var(--dark-red); */
}

h1 {
  padding: 0 0.5em;
}

#sort {
  width: 100%;
}

.sortOptions {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.sortOptions .selected {
  background-color: var(--dark-red);
  border-radius: 5px;
  padding: 0 10px;
}

.direction {
  padding-left: 1em;
}

section {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  padding: 0.5em 1em;
}

.movieList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  list-style: none;
}

.movie {
  width: 100px;
  margin-left: 20px;
  transition: all 1.5s cubic-bezier(0.19, 1.34, 0.87, 0.99);
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0px;
  opacity: 1;
}

.movie.hide {
  left: 1000px;
  opacity: 0;
}

.movie.selected {
  width: 350px;
  /* transform: scale(1.25); */
  /* z-index: 1; */
}

.movie.selected.extraWide {
  width: 750px;
}

.movieImage {
  height: 150px;
  width: 100px;
  cursor: pointer;
  /* box-shadow: 0 10px 6px -6px var(--dark-red); */
}

.movieDetailsDiv {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieDetailsDiv.hidden {
  display: none;
}

.overview,
.fullText {
  line-height: 1.5em;
}

.fullText {
  display: none;
}

.readMore {
  font-size: 0.75em;
  padding-left: 0.5em;
  cursor: pointer;
}

.minis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.good {
  color: var(--vote-good);
}

.bad {
  color: var(--vote-bad);
}

.ugly {
  color: var(--vote-ugly);
}
